li {
  cursor: pointer;
}

.icon-div:hover {
  height: 2.5rem;
  width: 2.5rem;
  background-color: aliceblue;
}

.icon-div:hover .icon {
  color: #222222;
}

.icon-div {
  height: 2.5rem;
  width: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  border-radius: 50%;
  transition-duration: 1.5s;
}
